<div class="col-4">
    <table class="table small">
        <tbody>
        <h4>Registration</h4>

        <tr>
{#            <th>Registration Email</th>#}
            <td>
                {{ company_detail.registrationEmail|raw }}
            </td>
        </tr>
        </tbody>
    </table>
</div>