<form method="post" action="{{ path('tax_schemes_delete', {'id': tax_scheme.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tax_scheme.id) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>
