{% extends 'base.html.twig' %}

{% block title %}New Tax Schemes{% endblock %}

{% block body %}
    <h1 style="color: red">New TaxSchemes</h1>

    {{ include('tax_schemes/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('tax_schemes_index') }}">Return to list</a>
{% endblock %}
