<td>
    {{ business_contact.company }}
</td>
{% if list_or_map=='map' %}
    <td style="width: 20px"></td>
{% endif %}
<td>
    {% if business_contact.firstName is not null or business_contact.lastName is not null %}
        <i style="color: grey" class="fa fa-user"></i>
        {{ business_contact.firstName }} {{ business_contact.LastName }}
    {% endif %}
</td>
