{% extends '../../base.html.twig' %}

{% block title %}New Tax Year{% endblock %}

{% block body %}
    <h1 style="color: red;">New Tax Year</h1>

    {{ include('tax_year/_form.html.twig') }}

    <a class="btn btn-outline-secondary btn-sm mt-2" href="{{ path('tax_year_index') }}">Return to list</a>
{% endblock %}
