{% extends 'base.html.twig' %}

{% block title %}New Imported Email{% endblock %}

{% block body %}
    <h1 style="color: red">New Imported Email</h1>

    {{ include('emails_import/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('emails_import_index') }}">Return to list</a>
{% endblock %}
