{% extends 'base.html.twig' %}

{% block title %}New: CMS Copy{% endblock %}

{% block body %}
    <h1 style="color: red">New CMS Copy</h1>

    {{ include('cms_copy/_form.html.twig') }}

    <a class="btn btn-outline-info btn-sm" href="{{ path('cms_copy_index') }}">Return to list</a>
{% endblock %}
{% block additionaljs %}
   <script>
       {% if cms_copy.attachment %}
       $(".file-upload-container").hide();
       {% else %}
       $(".file-upload-container").show();
       {% endif %}


       var category = $("#cms_copy_category").val();
       if(category==='Static'){
           $(".static-container").show();
           $(".product-container").hide();
       }
       else{
           $(".static-container").hide();
           $(".product-container").show();
       }
       $("#cms_copy_category").change(function (){
           var category = $(this).val();
           if(category==='Static'){
               $(".static-container").show();
               $(".product-container").hide();
           }
           else{
               $(".static-container").hide();
               $(".product-container").show();
           }
       })
   </script>
    <script>
        ClassicEditor
            .create(document.querySelector('#cms_copy_contentText'))
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#cms_copy_contentTextFR'))
            .catch(error => {
                console.error(error);
            });

        ClassicEditor
            .create(document.querySelector('#cms_copy_contentTextDE'))
            .catch(error => {
                console.error(error);
            });
    </script>
{% endblock %}