{% extends 'base.html.twig' %}

{% block title %}New Credit Card Details{% endblock %}

{% block body %}
    <h1 style="color: red">New Credit Card Details</h1>

    {{ include('credit_card_details/_form.html.twig') }}

    <a class="btn btn-outline-success btn-sm mt-2" href="{{ path('credit_card_details_index') }}">Return to list</a>
{% endblock %}
