{% extends 'base.html.twig' %}

{% block title %}About Stephen{% endblock %}

{% block body %}
    <h3 style="color: red">Stephen</h3>



    <ul>
        <b style="color: red">Background</b>
    </ul>

    <ul>
        o Stephen lives in Crossharbour, near Canary Wharf, and works for JPMorgan.
    </ul>
    <ul>
        o He is a keen tennis player and cyclist.
    </ul>
    <ul>
        o He is a keen tennis player and cyclist
    </ul>
    <hr>


    <ul>

    </ul>







{% endblock %}