{% extends 'base.html.twig' %}

{% block title %}About Stephen{% endblock %}

{% block body %}
    <h3 style="color: red">Stephen Nurse</h3>

    {{staticText.aboutSN | raw}}

    <ul>
        <b style="color: red">Background</b>
    </ul>

    <ul>
        o Stephen lives in Crossharbour, near Canary Wharf, and works for JPMorgan.
    </ul>
    <ul>
        o He is a keen tennis player and cyclist.
    </ul>
    <ul>
        <b style="color: red">Family</b>
    </ul>

    <ul>
        o Stephen has an elder brother and a younger sister, one niece and three nephews
    </ul>
    <ul>
        <b style="color: red">Tennis</b>
    </ul>

    <ul>
        o Stephen is a Level 2 qualified tennis coach and spent his summers as a student (1989-90) tennis coaching in New Hampshire, the second summer as the head coach. </ul>
    </ul>
    <ul>
        o He played for the Woth School team and a combination of the 1stIV and 2nd IV for Bristol University for 4 years, captaining the club in his last year. The Second team were UAU runners-up
        in his last 2 years, losing to Loughborough on both occasions. The second team also won the 1st team plate</ul>
    <ul>
        o In 1993 he competed in the RAF tennis championships where the semis and finals were played at Wimbledon, reaching the semis of the Men's Doubles, the final of the Mixed and won the Singles.
    </ul>






{% endblock %}