{% if Text2 is not null %}
    <h4>
        {% if Text2.hyperlinks is empty %}
            {{ Text2.contentTitle|raw }}
        {% else %}
            <a target="_blank" href="{{ Text2.hyperlinks }}">{{ Text2.contentTitle|raw }}</a>
        {% endif %}
    </h4>
    {% if is_granted('ROLE_ADMIN') %}
        <a target="_blank" href="{{ path('cms_copy_edit', {'id': Text2.id}) }}">
            <i style="color: red" class="fa fa-pen"></i>
        </a>
    {% endif %}
{% endif %}

