{% extends 'base.html.twig' %}

{% block title %}Stephen Nurse: Home Address{% endblock %}

{% block body %}
    <h3 style="color: red">Address</h3>
    <b>Home address is: </b>
    {{ StaticText.content.address | raw }}
    <br>
    <br>
    Google Maps:  <a target="_blank" href="{{ StaticText.content.gpsCoordinates }}">Link</a>
    <br>
    <br>
    <iframe src="{{ StaticText.content.gpsImage }}"
            width="900" height="850" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

    <br>
    <br>
    <br>
    <b>Getting here:</b> <br>
    <li>
        The nearest airport is Paphos (PFO), which is 20mins drive.
    </li>

{% endblock %}