{% extends 'base.html.twig' %}

{% block title %}Stephen Nurse: Home Address{% endblock %}

{% block body %}
    <h3 style="color: red">Address</h3>
    <b>Home address is: </b>
    {{ CompanyDetails.companyDetails.companyAddress | raw }}
    <br>
    <br>
    Google Maps:  <a target="_blank" href="{{ CompanyDetails.companyDetails.companyAddress  }}">Link</a>
    <br>
    <br>
    <iframe src="{{ CompanyDetails.companyDetails.mapLink }}"
            width="900" height="850" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

    <br>
    <br>
    <br>
    <b>Getting here:</b> <br>
    <li>
        {{ CompanyDetails.companyDetails.directions }}
    </li>

{% endblock %}