{% extends 'base.html.twig' %}

{% block title %}Stephen Nurse{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>


    <div class="example-wrapper">

        <h3 style="color: red;">Stephen Nurse</h3>

        <ul>
            o This is a personal website designed to help with various tasks.
        </ul>
        <ul>


    </div>
{% endblock %}
