{% extends 'base_ad .html.twig' %}

{% block title %}New Tax Documents{% endblock %}

{% block body %}
    <h1 style="color: red">New Tax Documents</h1>

    {{ include('tax_documents/_form.html.twig') }}

    <a class="btn btn-outline-primary bt-sm mt-2" href="{{ path('tax_documents_index') }}">Return to list</a>
{% endblock %}
