{% extends 'base.html.twig' %}

{% block title %}Edit: UK Days Calendar{% endblock %}

{% block body %}
    <h1>Edit: UK Days Calendar</h1>

    {{ include('uk_day_calendar/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('uk_day_calendar_index') }}">Return to list</a>

    {{ include('uk_day_calendar/_delete_form.html.twig') }}
{% endblock %}
