
                             /* Recognition-Badges */
                         .recognition-badge {
                             filter: grayscale(90%);
                         }


/* GeneratePress Site CSS */ /* mobile header spacing */

.mobile-header-navigation {
    padding: 10px;
    box-sizing: border-box;
}




/* navigation phone button */

.main-navigation:not(.slideout-navigation) .main-nav li.nav-button a {
    border: 1px solid #e9e4e4;
    color: #ffffff;
    line-height: 38px;
    padding: 0px 16px;
    margin: 10px;
    border-radius: 5px;
    letter-spacing: -0.02em;
    color: var(--contrast);
    background-color: #e9e4e4;


}


/* container drop shadows */

.object-shadow {
    box-shadow: 0px 0px 10px rgba(20, 20, 20, 0.1);
}

/* photo solid drop shadow */

.photo-shadow img {
    box-shadow: 10px 10px 0px #e2e2e2;
}

/* underline widget titles */

.sidebar .widget-title, .footer-widgets .widget-title {
    border-bottom: 1px solid #ffaa00;
    line-height: 1.6em;
    display: inline-block;
} /* End GeneratePress Site CSS */

/* No bottomo margin adjustment */
.no-margin-bottom{
    margin-bottom: 0px;

}

/*Secondary Navigation */
.second-nav.grid-container {
    padding: 5px;

}

.second-nav .menu-item{
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #ab9791;
}

/* Custom Post Navigation */
#post-nav a {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    #post-nav a {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
    }
}

#post-nav, #post-nav .post-nav-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#post-nav {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 60px;
}

#post-nav .post-nav-wrap {
    background-size: cover !important;
    background-position: center center !important;
    min-height: 120px;
    height: 100%;
    padding: calc(6% + 1em) 5%;
    -webkit-box-shadow: inset 0 -50px 70px 20px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -50px 70px 20px rgba(0, 0, 0, 0.5);
    -webkit-transition: -webkit-box-shadow 500ms;
    transition: -webkit-box-shadow 500ms;
    transition: box-shadow 500ms;
    transition: box-shadow 500ms, -webkit-box-shadow 500ms;
    position: relative;
    box-sizing: border-box;
}

#post-nav .post-nav-wrap:hover {
    -webkit-box-shadow: inset 0 -90px 70px 20px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 -90px 70px 20px rgba(0, 0, 0, 0.5);
}

.post-nav-wrap>* {
    color: #fff;
}

.post-nav-date {
    font-size: 0.9em;
}

.post-nav-title {
    margin: 5px 0 !important;
}

.post-nav {
    min-width: 60px;
    position: absolute;
    top: 0;
    border-radius: 0 0 2px 0;
}

.post-nav:first-child {
    left: 0;
}

.post-nav:last-child {
    right: 0;
}

.post-nav {
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 0.7em;
    text-transform: uppercase;
    background-color: #1F2D3D;
    color: #fff !important;
}
