{% if Text1 is not null %}
    <h4>
        {% if Text1.hyperlinks is  empty %}
            {{ Text1.contentTitle|raw }}
        {% else %}
            <a target="_blank" href="{{ Text1.hyperlinks }}">{{ Text1.contentTitle|raw }}</a>
        {% endif %}
    </h4>
    {% if is_granted('ROLE_ADMIN') %}
        <a target="_blank" href="{{ path('cms_copy_edit', {'id': Text1.id}) }}">
            <i style="color: red" class="fa fa-pen"></i>
        </a>
    {% endif %}
{% endif %}

