{% extends 'base.html.twig' %}

{% block title %}New Introductory Email{% endblock %}

{% block body %}
    <h1 style="color: red">New: Introductory Email</h1>

    {{ include('introduction/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('introduction_index') }}">Return to list</a>
{% endblock %}
