{% extends 'base.html.twig' %}

{% block title %}Edit: Business Contacts{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: Business Contacts</h1>
    <button class="btn btn-primary " onclick="getLocation()">Get Coordinates</button>

    {{ include('business_contacts/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('business_contacts_index') }}">Return to list</a>

    {{ include('business_contacts/_delete_form.html.twig') }}
{% endblock %}

