{% extends 'base.html.twig' %}

{% block title %}Edit: Referral {{ referral.businessSite }}{% endblock %}

{% block body %}
    <h1 style="color: red">Edit Referrals</h1>

    {{ include('referrals/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('referrals_index') }}">Return to list</a>

    {{ include('referrals/_delete_form.html.twig') }}
{% endblock %}
