{% extends 'base.html.twig' %}

{% block title %}Edit: JPM IC History{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: JPM IC History</h1>

    {{ include('jpm_ic_history/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('jpm_ic_history_index') }}">Return to list</a>

    {{ include('jpm_ic_history/_delete_form.html.twig') }}
{% endblock %}
