{% extends '../../base.html.twig' %}

{% block title %}New JPM IC History{% endblock %}

{% block body %}
    <h1 style="color: red">New: JPM IC History</h1>

    {{ include('jpm_ic_history/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('jpm_ic_history_index') }}">Return to list</a>
{% endblock %}
