<h4>
    {% if cms_copy.hyperlinks is empty %}
        {{ cms_copy.contentTitle|raw }}
    {% else %}
        <a target="_blank" href="{{ cms_copy.hyperlinks }}">{{ cms_copy.contentTitle|raw }}</a>
    {% endif %}
</h4>

{% if is_granted('ROLE_ADMIN') %}
    <a target="_blank" href="{{ path('cms_copy_edit', {'id': cms_copy.id}) }}">
        <i style="color: red" class="fa fa-pen"></i>
    </a>
{% endif %}


