<div class="row">
    <div class="col-2">
        <div class="border py-4">
            <h2 style="color: red">Dogs & Whistles</h2>
            <ul>
                <a target="_blank" href="{{ path('dog_skills_index') }}">Dog Skills</a>
            </ul>
            <ul>
                <a target="_blank" href="{{ path('dogs_index') }}">Dogs</a>
            </ul>
            <ul>
                <a target="_blank" href="{{ path('client_details_index') }}">Clients</a>
            </ul>
        </div>
    </div>
</div>


