<table>
    {% if subset != 'All' %}
        {% for business_contact in business_contacts %}
            {% set business_contact_website =[] %}
            {% if business_contact.website is not empty %}
                {% if business_contact.website starts with 'http' %}
                    {% set business_contact_website = business_contact.website %}
                {% else %}
                    {% set business_contact_website = 'https://'~ business_contact.website %}
                {% endif %}
            {% endif %}

            <tr>
                <td>
                    - 
                </td>
                {% include 'business_contacts/parts/table_body2.html.twig' %}
                <td style="width: 50px"></td>
                {% include 'business_contacts/parts/table_body4.html.twig' %}
                <td style="width: 50px"></td>

                {% include 'business_contacts/parts/table_body3.html.twig' %}
                {% if is_granted('ROLE_ADMIN') %}
                    <td style="width: 50px"></td>
                    <td style="color: red">{{ business_contact.locationLatitude }},</td>
                    <td style="width: 10px"></td>
                    <td style="color: red">{{ business_contact.locationLongitude }}</td>
                    <td style="width: 10px"></td>
                    <td style="width: 10px">
                        <a target="_blank" href="{{ path('business_contacts_edit', {id: business_contact.id}) }}">
                            <i style="color: black" class="fa fa-pen"></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    {% endif %}
</table>