{% extends '../../base.html.twig' %}
{% block body %}
{{ app.request.server.get('GOOGLE_MAP_API') }}
<div class="row">
    <div class="col-md-12 text-center">
        <iframe class="w-100 map-tourist-attraction"  src="https://maps.google.com/maps?q={{ latitude }},{{ longitude }} &hl=es;z=14&amp;output=embed"
                  style="border:0"></iframe>
    </div>
</div>

{% endblock %}
{% block additionaljs %}
    <script>
        $(document).ready(function(){
            var headerHeight = $('.navbar').height();
            var bodyHeight = $('body').height();
            var mapHeight = bodyHeight-headerHeight;
            $('.map-tourist-attraction').height(mapHeight);
        })
    </script>
{% endblock %}