{% extends '../../base.html.twig' %}

{% block title %}Tourist Attractions{% endblock %}

{% block body %}
    <h1 style="color: red">Tourist Attractions</h1>
    {% include 'parts/buttons.html.twig' %}

    {% if type == 'All' %}
        {% for type in types %}
            <h2 style="color: red"> {{ type }}</h2>
            <table class="table table-responsive">
                <thead>
                <tr>
                    {% include 'parts/table_headers.html.twig' %}
                </tr>
                </thead>
                <tbody>
                {% for tourist_attraction in tourist_attractions %}
                    {% if type == tourist_attraction.type %}
                        <tr>
                            {% include 'parts/table_body.html.twig' %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <br>
            <hr><br>
        {% endfor %}
    {% else %}

        <h2 style="color: red"> {{ type }}</h2>
        <table class="table table-responsive">
            <thead>
            <tr>
                {% include 'parts/table_headers.html.twig' %}
            </tr>
            </thead>
            <tbody>
            {% for tourist_attraction in tourist_attractions %}
                {% if type == tourist_attraction.type %}
                    <tr>
                        {% include 'parts/table_body.html.twig' %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    {% endif %}



<h2 style="color: red"> Other (update)</h2>
<table class="table table-responsive">
    <thead>
    <tr>
        {% include 'parts/table_headers.html.twig' %}
    </tr>
    </thead>
    <tbody>
    {% for tourist_attraction in tourist_attractions %}
        {% if tourist_attraction.type not in types %}
            <tr>
                {% include 'parts/table_body.html.twig' %}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pageLength": 100,
                "order": [[1, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}

{% block additionaljs %}
    <script>
        $(".save-location").click(function () {
            var id = $(this).attr('data-id');
            getLocation();

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showLocation);
                } else {
                    alert('location not found');
                }
            }

            function showLocation(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                var pin = latitude + "," + longitude;
                $.ajax({
                    type: 'POST',
                    url: '/tourist/attraction/save/location',
                    data: 'latitude=' + latitude + '&longitude=' + longitude + '&id=' + id,
                    success: function (msg) {
                        location.reload();
                    }
                });
            }
        })
        $(".submit-street").click(function (e) {
            e.preventDefault();
            getStreetLocation();

            function getStreetLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(saveLocation);

                } else {
                    alert('location not found');
                }
            }

            function saveLocation(position) {
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                var gps = latitude + ',' + longitude;
                $("#street-gps").val(gps).change();
                $(".new-street-form").submit();
            }
        })
    </script>
{% endblock %}
