{% extends 'base.html.twig' %}

{% block title %}New Tourist Attraction{% endblock %}

{% block body %}
    <h1 style="color: red">New Tourist Attraction</h1>

    {{ include('tourist_attraction/_form.html.twig') }}

    <a class="btn btn-outline-info btn-sm" href="{{ path('tourist_attraction_index', {type:'All'}) }}">Return to
        list</a>
{% endblock %}
