<form method="post" action="{{ path('flight_stats_delete', {'id': flight_stat.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flight_stat.id) }}">
    <button class="btn btn-danger bt-sm">Delete</button>
</form>
