{% extends 'base.html.twig' %}

{% block title %}New: Flight Stats{% endblock %}

{% block body %}
    <h1 style="color: red">New Flight Stats</h1>

    {{ include('flight_stats/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('flight_stats_index') }}">Return to list</a>
{% endblock %}
