{% extends 'base.html.twig' %}

{% block title %}New TennisPlayers{% endblock %}

{% block body %}
    <h1 style="color: red">New Tennis Player</h1>

    {{ include('tennis_players/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_players_index') }}">Return to list</a>
{% endblock %}
