#modal{
    display:none;
    justify-content: center;
    position: fixed;
    top:50%;
    left:50%;
    height: 50px;
    width: 300px;
}

.investmentsChildren{
    display: none;
}
.homepage-image-container-1{
    height: 200px;
    width: 250px;
}

.homepage-image{
    max-height: 100%;max-width: 100%;height: 100%;width:100%;object-fit: contain
}

.homepage-image{
    max-height: 100%;max-width: 100%;height: 100%;width:100%;object-fit: contain
}

.homepage-gallery-image-container{
    height: 550px;
    width: 500px;
}

