{% extends 'base.html.twig' %}

{% block title %}Edit Tennis Availability{% endblock %}

{% block body %}
    <h1 style="color: red;">Edit Tennis Availability</h1>

    {{ include('tennis_availability/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-success btn-sm mt-2" href="{{ path('tennis_availability_index') }}">Return to list</a>

    {{ include('tennis_availability/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/fr.js"></script>
    <script>

        $("input.datetime").flatpickr({
            altInput: true,
            altFormat: "D j F Y",
            time_24hr: true,
            enableTime: false,
            noCalendar: false,
            dateFormat: "Y-m-d H:i:s",
            minuteIncrement: 15
            //minDate: "today",
        });

    </script>
{% endblock javascripts %}
