{% extends 'base.html.twig' %}

{% block title %}New TennisAvailability{% endblock %}

{% block body %}
    <h1 style="color: red">New Tennis Court Availability</h1>

    {{ include('tennis_availability/_form.html.twig') }}

    <a class="btn btn-outline-success btn-sm mt-2" href="{{ path('tennis_availability_index') }}">Return to list</a>
{% endblock %}
