{% extends '../../base.html.twig' %}

{% block title %}Countries{% endblock %}

{% block body %}
    <h1 style="color: red">Countries</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Country</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.country }}</td>
                <td>
                    <a class="btn btn-outline-danger btn-sm mt-2" href="{{ path('country_edit', {'id': country.id}) }}">Edit</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm mt-2" href="{{ path('country_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
