{% extends '../../base.html.twig' %}

{% block title %}New Country{% endblock %}

{% block body %}
    <h1 style="color: red">New Country</h1>

    {{ include('country/_form.html.twig') }}

    <a class="btn btn-outline-secondary btn-sm mt-2" href="{{ path('country_index') }}">Return to list</a>
{% endblock %}
