<!-- BEGIN .footer -->
<footer class="footer" style="background: none">
    <section id="footertop" class="py-5" style="background-color: lightgray">
        <div class="container">
            <div class="row">

                <div class="col-md-4">
                    <div class="">
                        <div id="zoom-social-icons-widget-2" class=" widget clearfix zoom-social-icons-widget">

                            <a href="https://www.linkedin.com/in/stephen-nurse-2b05b41/" target="_blank">
                                <span class="zoom-social_icons-list-span social-icon socicon socicon-linkedin"
                                      data-hover-rule="color" data-hover-color="red"
                                      style="color : #0077B5; font-size: 16px; padding:6px"><i class="fa fa-linkedin" style="font-size:24px"></i></span></a>

                            <a href="https://find-and-update.company-information.service.gov.uk/officers/IOMz9FOHszeMImwrBtAx6k4PcYg/appointments" target="_blank">
                                <span class="zoom-social_icons-list-span social-icon socicon socicon-ch rounded border"
                                      data-hover-rule="color" data-hover-color="red"
                                      style="color : black; background-color: black; font-size: 16px; padding:6px"><img src="https://d109b4smb8id36.cloudfront.net/images/royal-coat-of-arms-white.svg" style="height: 28px; width: 24px;color: black"></span></a>

                            <a href="https://github.com/stephennurse1971" target="_blank">
                                <span class="zoom-social_icons-list-span social-icon socicon socicon-github"
                                      data-hover-rule="color" data-hover-color="#dd3333"
                                      style="color : black; font-size: 16px; padding:6px"><i class="fa fa-github" style="font-size:24px"></i></span></a>

                            <a href="https://facebook.com/stephen.nurse.14" target="_blank">
                                <span class="zoom-social_icons-list-span social-icon socicon socicon-facebook"
                                      data-hover-rule="color" data-hover-color="#dd3333"
                                      style="color : #1877F2; font-size: 16px; padding:6px"><i class="fa fa-facebook-square" style="font-size:24px"></i> </span></a>

                            <a href="https://twitter.com/" target="_blank">
                                <span class="zoom-social_icons-list-span social-icon socicon socicon-twitter"
                                      data-hover-rule="color" data-hover-color="#dd3333"
                                      style="color : #1da1f2; font-size: 16px; padding:6px"><i class="fa fa-twitter" style="font-size:24px"></i></span></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div>
                        <div class="widget_text chw-widget">
                            <div class="textwidget custom-html-widget">
                                <div>
                                    <p>Contact info</p>
                                    <hr>
                                    <p>
                                        <a target="_blank" href="https://www.google.com/maps/place/London+E14+9UE/@51.4978955,-0.0179594,17z/data=!3m1!4b1!4m5!3m4!1s0x487602bc41f90943:0xb248ab856e844c5e!8m2!3d51.4977219!4d-0.0155446">3708 Arena Tower, 25 Crossharbour Plaza, London E14 9UE</a>
                                    </p>

                                    <p>
                                        <a href="mailto:nurse_stephen@hotmail.com"><i class="fa fa-envelope" style="color:black;font-size:16px"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div>
                        <div class="widget_text chw-widget">
                            <div class="textwidget custom-html-widget">
                                <div>
                                    <p>Company</p>
                                    <hr>
                                    <ul class="row" style="list-style:disc">
                                        <div class="col-6">
                                            <li>
                                                <a href="{{ path('aboutSN') }}">About SN</a>
                                            </li>

                                        </div>
                                        <div class="col-6">
                                            <li>
                                                <a title="Stephen's CV"<a href="{{asset('CV - Stephen Nurse (2021).docx')}}">CV</a>
                                            </li>
                                            <li>
                                                <a title="" href="{{path('webdesign')}}">Web design</a>
                                            </li>
                                         </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </section>
    <!-- Bottom footer ended -->


    <!-- END .footer-inner -->
    </div>


    <!-- END .footer -->
</footer>