<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('app_home') }}">Disclaimer</a>
            </div>
        </div>
        <div class="row copyright text-center my-auto">
            <span>Copyright &copy; 2021 Stephen Nurse</span>
        </div>
    </div>
</footer>