<div class="outer-wrapper">


    <!-- BEGIN .header-area-1 -->
    <div class="header-area-1 ">

        <!-- BEGIN .top-bar-wrapper -->
        <div class="top-bar-wrapper">

            <!-- BEGIN .top-bar -->
            <div class="top-bar clearfix w-auto px-5 container">



                <!-- BEGIN .top-bar-right -->
                <div class="top-bar-right float-right d-flex">


                    <div class="d-flex">
                        <ul>
                            <!-- dropdown phone added -->
                            <li class="mr-2" style="font-size: 12px">
                                <div class="dropdown">
                                    <button class="btn btn-light btn-sm dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                        <i class="fa fa-phone"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#"><i class="fa fa-ukflag"></i>+44 7588 717515</a>
                                        <a class="dropdown-item" href="https://wa.me/447588717515"> <i class="fa fa-whatsapp"></i>WhatsApp</a>
                                        <a class="dropdown-item" href="skype:stephennurse?call"><i class="fa fa-skype"></i>Skype </a>

                                    </div>
                                </div>
                            </li>

                    </div>

                    <!-- END .top-bar-right -->
                </div>

                <!-- END .top-bar-wrapper -->
            </div>