<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ path('app_home') }}">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3 mt-3">Stephen Nurse</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">


    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Nav Item #1 - Pubs -->

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePubs"
           aria-expanded="true" aria-controls="collapsePubs">
            <i class="fas fa-fw fa-cog"></i>
            <span>Photos</span>
        </a>
        <div id="collapsePubs" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item text" href="">Photos</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">


    <!-- Nav Item #4 - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin"
           aria-expanded="true" aria-controls="collapseAdmin">
            <i class="fas fa-fw fa-cog"></i>
            <span>Settings</span>
        </a>
        <div id="collapseAdmin" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{{ path('user_index') }}">Users</a>
{#                <a class="collapse-item text-secondary" href="{{ path('log_index') }}">>>User usage</a>#}
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">

</ul>