{% extends 'base.html.twig' %}

{% block title %}New FX Rates History{% endblock %}

{% block body %}
    <h1 style="color: red">New FX Rates History</h1>

    {{ include('fx_rates_history/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('fx_rates_history_index') }}">Return to list</a>
{% endblock %}
