{% extends 'base.html.twig' %}

{% block title %}Edit: Investment Future Comms{% endblock %}

{% block body %}
    <h1 style="color: red;">Edit: Investment Future Comms</h1>

    {{ include('investment_future_comms/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-info btn-sm mt-2" href="{{ path('investment_future_comms_index') }}">Return to list</a>

    {{ include('investment_future_comms/_delete_form.html.twig') }}
{% endblock %}
