{% extends '../../base.html.twig' %}

{% block title %} {{ marketData.shareCompany }} {% endblock %}

{% block body %}
    <h1 style="color: red">{{ marketData.shareCompany }}</h1>

    {{ include('investment_future_comms/_form.html.twig') }}

    <a class="btn btn-outline-info btn-sm mt-2" href="{{ path('investment_future_comms_index') }}">Return to list</a>
{% endblock %}
