{% extends 'base.html.twig' %}

{% block title %}New Log{% endblock %}

{% block body %}
    <h1 style="color: red">New Log</h1>

    {{ include('log/_form.html.twig') }}

    <a class="btn btn-primary btn-sm" href="{{ path('log_index') }}">Return to list</a>
{% endblock %}
