{% extends '../../base.html.twig' %}

{% block title %}Edit: {{ prospect_employer.employer }}{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: Prospect Employer</h1>

    {{ include('prospect_employer/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('prospect_employer_index') }}">Return to list</a>

    {{ include('prospect_employer/_delete_form.html.twig') }}
{% endblock %}
