{% extends 'base.html.twig' %}

{% block title %}New Prospect Employer{% endblock %}

{% block body %}
    <h1 style="color: red">New: Prospect Employer</h1>

    {{ include('prospect_employer/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('prospect_employer_index') }}">Return to list</a>
{% endblock %}
