{% extends '../../base.html.twig' %}

{% block title %}New Asset Classes{% endblock %}

{% block body %}
    <h1 style="color: red">New Asset Classes</h1>

    {{ include('asset_classes/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('asset_classes_index') }}">Return to list</a>
{% endblock %}
