{% extends 'base.html.twig' %}

{% block title %}Edit: CMS{% endblock %}

{% block body %}
    <h1>Edit: CMS</h1>

    {{ include('static_text/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-info mt-2 btn-sm " href="{{ path('static_text_index') }}">Return to list</a>

    {{ include('static_text/_delete_form.html.twig') }}
{% endblock %}
