{% extends 'base.html.twig' %}

{% block title %}Chavey Down HMRC audit{% endblock %}

{% block body %}
    <h3 style="color: red">Chavey Down</h3>



    <ul>
        <b style="color: red">Background</b>
    </ul>

    <ul>
        HMRC investigation:
    </ul>
    <ul>
        o Ref number:
    </ul>
    <ul>
        o Builder contacts:
    </ul>
    <hr>


    <ul>

    </ul>







{% endblock %}