{% extends 'base.html.twig' %}

{% block title %}Documentation{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: {{ file_attachments.category }}</h1>

    {{ include('file_attachments/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-info btn-sm mt-2" href="{{ path('/admin/fileattachments/index') }}">Return to list</a>

    {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
        {{ include('file_attachments/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}


{% block additionaljs %}

{% endblock %}