{% extends '../../base.html.twig' %}

{% block title %}New: Attachments{% endblock %}

{% block body %}

    <h1 style="color: red">New: Attachment</h1>

    {{ include('file_attachments/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('/admin/fileattachments/index') }}">Return to list</a>
{% endblock %}
