{% extends 'base.html.twig' %}

{% block title %}Loans/Bonds{% endblock %}

{% block body %}
    <h1 style="color: red">Fixed Rate Deposits/Loans/Bonds</h1>

    <div class="row">
        <div class="col-3">
            <a class="btn btn-success btn-sm" href="{{ path('loans_bonds_new') }}">New</a>
        </div>

        <div class="col-3">
            {% include 'market_data/parts/investmentAsOfDate.html.twig' %}
        </div>
    </div>

    {% set AsOfDate = settings.investmentDate|date('Y-m-d') %}
    <br>
    {% include 'loans_bonds/parts/loans_bonds_headers.html.twig' %}
    {% include 'loans_bonds/parts/loans_bonds_body.html.twig' %}

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[1, 'asc'][0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}