{% extends 'base.html.twig' %}

{% block title %}Bank Balances{% endblock %}

{% block body %}
    <h1 style="color: red">Bank Balances</h1>

    <div class="row">
        <div class="col-3">
            <a class="btn btn-success btn-sm" href="{{ path('bank_balances_new') }}">New</a>
        </div>

        <div class="col-3">
            {% include 'market_data/parts/investmentAsOfDate.html.twig' %}
        </div>
    </div>

    {% for bank_account in bank_accounts %}
        <br>
        <h2 style="color: blue">{{ bank_account.bank }}</h2>

            {% include 'bank_balances/parts/bank_accounts_headers.html.twig' %}
            {% include 'bank_balances/parts/bank_accounts_body.html.twig' %}
    {% endfor %}

{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[1, 'asc'], [0, 'desc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
