{% extends 'base.html.twig' %}

{% block title %}New Bank Balances{% endblock %}

{% block body %}
    <h1 style="color: red">New Bank Balances</h1>

    {{ include('bank_balances/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('bank_balances_index') }}">Return to list</a>

{% endblock %}
