{% extends 'base.html.twig' %}

{% block title %}Edit Tennis Venue{% endblock %}

{% block body %}
    <h1 style="color: red">{{ tennis_venue.venue }}</h1>

    {{ include('tennis_venues/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_venues_index') }}">Return to list</a>

    {{ include('tennis_venues/_delete_form.html.twig') }}
{% endblock %}
