{% extends 'base.html.twig' %}

{% block title %}New Tennis Venues{% endblock %}

{% block body %}
    <h1 style="color: red">New Tennis Venues</h1>

    {{ include('tennis_venues/_form.html.twig') }}
<br>
<br>
    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_venues_index') }}">Don't Save & Return to list</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
