{% extends 'base.html.twig' %}

{% block title %}New: Business Type{% endblock %}

{% block body %}
    <h1 style="color: red">New Business Type</h1>

    {{ include('business_types/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('business_types_index') }}">Return to list</a>
{% endblock %}
