{% extends 'base.html.twig' %}

{% block title %}Edit Investments{% endblock %}

{% block body %}
    <h1 style="color: red;">Edit Investments</h1>

    {{ include('investments/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-info btn-sm mt-2" href="{{ path('investments_index') }}">Return to list</a>

    {{ include('investments/_delete_form.html.twig') }}
    <br>

{% endblock %}

{% block additionaljs %}
    <script>
    var numberOfShares = $("#investments_numberOfShares").val();
    var purchaseSharePrice = $("#investments_purchaseSharePrice").val();
    var investmentAmount = $("#investments_investmentAmount").val();



    if(numberOfShares != '' && investmentAmount != '' ) {
        var purchaseSharePrice = parseFloat(investmentAmount) / parseFloat(numberOfShares);
        $("#investments_numberOfShares").val(investmentAmount).change();
    }
    else
    {
        $("#investments_numberOfShares").val(null).change();
    }
    $("#investments_investmentAmount").change(function () {
        var numberOfShares = $("#investments_numberOfShares").val();
        var purchaseSharePrice = $("#investments_purchaseSharePrice").val();

        if(numberOfShares != '' && purchaseSharePrice != '' ) {
        var investmentAmount = parseFloat(numberOfShares) * parseFloat(purchaseSharePrice);
        $("#investments_investmentAmount").val(investmentAmount).change();
        }
        else
        {
            $("#investments_investmentAmount").val(null).change();
        }
    });

    $("#investments_purchaseSharePrice").change(function () {
        var numberOfShares = $("#investments_numberOfShares").val();
        var purchaseSharePrice = $("#investments_purchaseSharePrice").val();
        if(numberOfShares != '' && purchaseSharePrice != '' ) {
            var investmentAmount = parseFloat(numberOfShares) * parseFloat(purchaseSharePrice);
            $("#investments_investmentAmount").val(investmentAmount).change();
        }
        else
        {
            $("#investments_investmentAmount").val(null).change();
        }
    });

    var currency = $("#investments_currency option:selected").text();
   if(currency == 'GBP')
   {
       $('.initial-amount-GBP').css('display','none');
   }
   $("#investments_currency").change(function () {
       var selectedCurrency = $("#investments_currency option:selected").text();
       if(selectedCurrency == 'GBP')
       {
           $('.initial-amount-GBP').css('display','none');
       }
       else{
           $('.initial-amount-GBP').css('display','block');
       }
   });

        </script>
{% endblock additionaljs %}
