{% extends 'base.html.twig' %}
{% block title %}Investments: {{ grouping }}{% endblock %}
{% block body %}
    <h1 style="color: red">Investments: {{ grouping }}</h1>
    {% set AsOfDate = settings.investmentDate %}
    {% include 'investments/parts/economic/economic_view_buttons.twig' %}

    {% include 'investments/parts/economic/bank_accounts_buttons.twig' %}
    {% include 'bank_balances/parts/summary_bank_acounts.html.twig' %}

    {% include 'investments/parts/economic/loans_bonds_buttons.twig' %}
    {% include 'loans_bonds/parts/loans_bonds_headers.html.twig' %}
    {% include 'loans_bonds/parts/loans_bonds_body.html.twig' %}



    <table class="table table-responsive economicSummary">
        {% include 'investments/parts/economic/investments_economic_headers.html.twig' %}
        {% include 'investments/parts/economic/investments_economic_body.html.twig' %}
    </table>
    <br>

    {% include 'investments/parts/economic/grandTotal.twig' %}

{% endblock %}


{% block additionaljs %}
    <script>
        $(".investmentsChildren").hide();
        $('.toggle-investment-child').click(function () {
            var investment_Child_ID = $(this).attr("data-investment-Child-Id");
            $("#" + investment_Child_ID).toggle();
        })
    </script>
{% endblock additionaljs %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.bankAccountSummary').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
            $('.economicSummary').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc'], [3, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
            $('.loansBondsSummary').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc'], [4, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
            $('.grandTotal').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc'], [1, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });


        });
    </script>
{% endblock datatable %}