{% extends 'base.html.twig' %}
{% block title %}Investments: {{ grouping }}{% endblock %}
{% block body %}
    <h1 style="color: red">Investments: {{ grouping }}</h1>
        {% include 'investments/parts/investments_buttons.html.twig' %}
        {% for asset_class in asset_classes %}
        <br><br><br>
        <h2 style="color: blue">
            <a target="_blank" href="{{ path('asset_classes_edit',{'id':asset_class.id}) }}">{{ asset_class.assetClass }}</a>
        </h2>
        <table class="table table-responsive">
            <thead>
                {% include 'investments/parts/tax/investments_incl_tax_headers.html.twig' %}
            </thead>
            <tbody>
            {% set TaxSubsidyPurchase_Total = 0 %}
            {% set MTM_Total = 0 %}
            {% set PV_Total = 0 %}
            {% set CGT_Total = 0 %}
            {% set totalLossDeductibleAgainstIncome = 0 %}
            {% for investment in investmentsAll %}
                {% set totalLossDeductibleAgainstIncome = totalLossDeductibleAgainstIncome +  investment.lossDeductibleAgainstIncome %}
                {% if investment.assetClass.assetClass == asset_class.assetClass %}
                    {% set FXEffect =1 %}
                    {% set InitialFXRate =1 %}
                    {% set CurrentFXRate =1 %}
                    {% if investment.currency.fx != "GBP" %}
                        {% set InitialFXRate =  (investment.investmentAmount/(investment.initialInvestmentAmountGBP +0.00001)) %}
                        {% set CurrentFXRate =  USDGBPFXrate.currentFxRate /investment.currency.currentFxRate %}
                        {% set FXEffect = InitialFXRate/CurrentFXRate %}
                    {% endif %}
                    {% set investmentChildID = 'investment'~investment.id %}
                {% include 'investments/parts/tax/investments_incl_tax_body.html.twig' %}
                {% endif %}
            {% endfor %}
            </tbody>
            <tfoot>
                {% include 'investments/parts/tax/investments_incl_tax_footer.html.twig' %}
            </tfoot>
        </table>
    {% endfor %}
    <br>
{% endblock %}



{% block additionaljs %}
    <script>
        $(".investmentsChildren").hide();
        $('.toggle-investment-child').click(function () {
            var investment_Child_ID = $(this).attr("data-investment-Child-Id");
            $("#" + investment_Child_ID).toggle();
        })
    </script>
{% endblock additionaljs %}
{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[2, 'asc'], [3, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}