<form method="post" action="{{ path('tax_inputs_delete', {'id': tax_input.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tax_input.id) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>
