{% extends 'base.html.twig' %}

{% block title %}New Tax Inputs{% endblock %}

{% block body %}
    <h1 style="color: red">New Tax Inputs</h1>

    {{ include('tax_inputs/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('tax_inputs_index') }}">Return to list</a>
{% endblock %}
