<form method="post" action="{{ path('flying_delete', {'id': flying.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ flying.id) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>
