{% extends 'base.html.twig' %}

{% block title %}Bank Accounts{% endblock %}

{% block body %}
    <h1 style="color: red">Bank Accounts</h1>
    <a class="btn btn-success btn-sm" href="{{ path('bank_accounts_new') }}">New</a>
    <a class="btn btn-outline-primary btn-sm" target="_blank" href="{{ path('bank_balances_index') }}">Bank Balances</a>
    <br>
    <br>
    <table class="table table-responsive">
        <thead>
        <tr style="background-color: whitesmoke">
            <th style="border-left: 1px solid; border-top: 1px solid">Bank</th>
            <th style="border-right: 1px solid; border-top: 1px solid">#</th>
        </tr>
        </thead>
        <tbody>
        {% for bank_account in bank_accounts %}
            <tr>
                <td style="border-left: 1px solid">{{ bank_account.bank }}</td>
                <td style="border-right: 1px solid">
                    <a class="btn btn-outline-danger btn-sm"
                       href="{{ path('bank_accounts_edit', {'id': bank_account.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
