{% extends 'base.html.twig' %}

{% block title %}Bank Accounts{% endblock %}

{% block body %}
    <h1 style="color: red">Bank Accounts</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Bank</th>
                <th>#</th>
            </tr>
        </thead>
        <tbody>
        {% for bank_account in bank_accounts %}
            <tr>
                <td>{{ bank_account.bank }}</td>
                <td>
                    <a class="btn btn-outline-danger btn-sm" href="{{ path('bank_accounts_edit', {'id': bank_account.id}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success btn-sm" href="{{ path('bank_accounts_new') }}">New</a>
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 50,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
