{% extends '../../base.html.twig' %}

{% block title %}New Bank Accounts{% endblock %}

{% block body %}
    <h1 style="color: red">New Bank Accounts</h1>

    {{ include('bank_accounts/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('bank_accounts_index') }}">Return to list</a>
{% endblock %}
