<!doctype html>
<html lang="en">
    <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Raisa Multipurpose Business Agency/Personal Portfolio Template">
    <meta name="keywords" content="resume, cv, portfolio, personal, developer, designer,personal resume, Multipurpose, clean, modern">
    <meta name="author" content="Nababur">
    <!-- Page Title -->
    <title>Raisa Multipurpose Business Agency/Personal Portfolio Template</title>
    <!-- Place favicon.ico in the root directory -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Google Fonts css-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!--Reset normalize css -->
    <link rel="stylesheet" href="assets/css/normalize.css">
    <!--Reset main css -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- Bootstrap css -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Carousel css -->
    <link href="assets/css/owl.carousel.min.css" rel="stylesheet" media="screen">
    <!-- Carousel default css -->
    <link href="assets/css/owl.theme.default.min.css" rel="stylesheet" media="screen">
    <!-- Icofont css-->
    <link href="assets/icofont/css/icofont.css" rel="stylesheet" media="screen">
    <!-- Style css -->
    <link href="assets/css/style.css" rel="stylesheet" media="screen">
    <!-- Responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">
    <!--Modernizr Js-->
    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    
    </head>


<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <!--Start Header Section -->
    <header id="top-header">
    <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
          <div class="container">
              <div class="logo">
                <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt=""></a>
              </div>

            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse  main-menu navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about-me.html">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="service.html">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="portfolio.html">Portfolio</a>
                </li>  
                <li class="nav-item">
                  <a class="nav-link" href="blog.html">Blog</a>
                </li>   
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
              </ul>

            </div>  
        </div>
         
        </nav>
    <!-- Navigation -->
    </header>
    <!--End Header Section -->
