{% for flight_destination in flight_destinations %}
    {% if flight_destination.dateStart is null and flight_destination.dateStart is null %}
        {% set whiteSmokeBackgroundStart = settings.flightStatsStartDate|date('d-M-Y') %}
        {% set whiteSmokeBackgroundEnd = settings.flightStatsStartDate|date_modify('+'~ settings.flightStatsDays~'days' )|date('Y-m-d') %}
    {% else %}
        {% set whiteSmokeBackgroundStart = flight_destination.dateStart|date('Y-m-d') %}
        {% set whiteSmokeBackgroundEnd = flight_destination.dateEnd|date('Y-m-d') %}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') or flight_destination.adminOnly==0 %}

        {% if flight_destination.id is even %}
            {% if whiteSmokeBackgroundStart|date('Y-m-d') <= date|date('Y-m-d') and whiteSmokeBackgroundEnd|date('Y-m-d') >= date|date('Y-m-d') and
                flight_destination.isActive ==1 %}
                <td style="text-align: center; border-right: 1px dotted grey; background-color: whitesmoke">
            {% else %}
                <td style="text-align: center; border-right: 1px dotted grey; background-color: white">
            {% endif %}

        {% else %}
            {% if whiteSmokeBackgroundStart|date('Y-m-d') <= date|date('Y-m-d') and whiteSmokeBackgroundEnd|date('Y-m-d') >= date|date('Y-m-d') and
                flight_destination.isActive ==1 %}
                <td style="text-align: center; background-color: whitesmoke">
            {% else %}
                <td style="text-align: center; background-color: white">
            {% endif %}
        {% endif %}

        {% for flight in flights %}
            {% if flight.date == date and flight.flightFrom==flight_destination.departureCity.airportCode and flight.flightTo ==flight_destination.arrivalCity.airportCode %}
                {% set URL = "https://www.kayak.co.uk/flights/"~flight.flightFrom~"-"~ flight.flightTo ~"/"~ date|date('Y-m-d')  ~ "?sort=price_a&fs=stops=0" %}
                <a target="_blank" href="{{ URL }}">£{{ flight.lowestPrice|number_format('0') }}</a>
            {% endif %}
        {% endfor %}

    {% endif %}
    </td>
{% endfor %}