{% extends '../../base.html.twig' %}

{% block title %}Edit Coding Timesheets{% endblock %}

{% block body %}
    <h1 style="color: red">Edit Coding Timesheets</h1>

    {{ include('coding_timesheets/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary" href="{{ path('coding_timesheets_index') }}">Return to list</a>

    {{ include('coding_timesheets/_delete_form.html.twig') }}
{% endblock %}
