<tr>
    {% if grouping!="AssetClass" %}
        <th>Asset Class</th>
    {% endif %}
    <th style="width: 50px">FYI</th>
    <th style="width: 350px">Investment</th>
    <th style="text-align: left">Investment Date</th>

    <th style="width: 75px; text-align: right">
        <a target="_blank" href="{{ path('tax_schemes_index') }}">Tax Scheme</a>
    </th>
    <th style="text-align: right">Ccy</th>
    <th style="text-align: right;border-right:1px solid black">£ invested</th>

    <th style="text-align: right; background-color: lightgreen">Tax Year</th>
    <th style="text-align: right; background-color: lightgreen">£</th>
    <th style="text-align: right; background-color: lightgreen">Tax Year LookBack</th>
    <th style="text-align: right; background-color: lightgreen ">£</th>
    <th style="text-align: right; background-color: lightgreen; border-right:1px solid black">Tax subsidy
    </th>

    <th style="text-align: right; width: 80px">Share Price (Purchase)</th>
    <th style="text-align: right; width: 80px">Share Price (Current/Sale*) (£)</th>
    <th style="text-align: right">MTM or Gain/Loss Crystallised(£)</th>
    <th style="text-align: right">PV (Local)</th>
    <th style="text-align: right;border-right:1px solid black">PV (£)</th>

    <th style="text-align: right;border-right:1px gray; background-color: palegoldenrod">Sale Date</th>

    <th style="text-align: right; background-color: palegoldenrod">Tax Year</th>
    <th style="text-align: right; background-color: palegoldenrod">Income Offset (£)</th>
    <th style="text-align: right; background-color: palegoldenrod">Tax Year LookBack</th>
    <th style="text-align: right; background-color: palegoldenrod; border-right:1px solid black">Income
        Offset
        (£)
    </th>
    <th style="text-align: right;border-right:1px solid black">CGT due</th>

    <th>Share Cert</th>
    <th>EIS Cert</th>
    <th>Other Docs</th>
    <th>Further comms</th>
</tr>