{% extends '../../base.html.twig' %}

{% block title %}Edit Health{% endblock %}

{% block body %}
    <h1 style="color: red">Edit Health</h1>

    {{ include('health/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('health_index') }}">Return to list</a>

    {{ include('health/_delete_form.html.twig') }}
{% endblock %}
