{% extends '../../base.html.twig' %}

{% block title %}New Health{% endblock %}

{% block body %}
    <h1 style="color: red">New Health</h1>

    {{ include('health/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('health_index') }}">Return to list</a>
{% endblock %}
