@media only screen and (min-width: 600px) {
    .mobile{
        display:none!important;
    }
    .desktop{
        display: table-cell;
    }
    .photosOnePage{
        height: 800px;
        width: 900px;
        object-fit:cover;
    }
    .image-containerThumbnail {
        display: flex;
        max-height: 100px;
        max-width: 100px;
        height: 100px;
        align-items: center;
    }
    .image-containerFull {
        display: flex;
        max-height: 500px;
        max-width: 500px;
        height: 500px;
        align-items: center;
    }

    .homepage-gallery-image-container{
        display: flex;
        max-height: 500px;
        max-width: 500px;
        height: 500px;
        align-items: center;
    }

    .homepage-image{
        height: auto;
        width: 500px;
        object-fit:cover;
    }

    .photosByLocationThumbnail{
        height: 100px;
        width: 100px;
        object-fit:cover;
    }

    .photosByLocationFull{
        height: 500px;
        width: 500px;
        object-fit:cover;
    }

    .photosByLocationFullRotate-90{
        height: 500px;
        width: 500px;
        transform: rotate(90deg);
        object-fit:cover;
    }

    .photosByLocationFullRotate-180{
          height: 500px;
          width: 500px;
          transform: rotate(180deg);
          object-fit:cover;
      }

    .photosByLocationFullRotate-270{
        height: 500px;
        width: 500px;
        transform: rotate(270deg);
        object-fit:cover;
    }

    .videoByLocationFull{
        width:500px;
        height:500px;
        object-fit:cover;
    }
    .videoByLocationThumbnail{
        width:100px;
        height:100px;
        object-fit:cover;
    }
    .videoByInstructions{
        width:150px;
        height:150px
    }
    .product-image-container{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .other-page-image{
        /*max-width: 100%;*/
        height: auto;
    }
    .single-page-media-container{
        height: 500px;
        width: 500px;
        object-fit: cover;
    }
    .single-page-media-container img{
        max-width: 100%;
        max-height: 100%;
    }
}