@media only screen and (min-width: 600px) {
    .mobile{
        display:none!important;
    }
    .desktop{
        display: table-cell;
    }
    .photosOnePage{
        height: 800px;
        width: 900px;
        object-fit:cover;
    }
    .image-containerThumbnail {
        display: flex;
        max-height: 100px;
        max-width: 100px;
        height: 100px;
        align-items: center;
    }
    .image-containerFull {
        display: flex;
        max-height: 500px;
        max-width: 500px;
        height: 500px;
        align-items: center;
    }
    .photosByLocationThumbnail{
        height: 100px;
        width: 100px;
        object-fit:cover;
    }
    .photosByLocationFull{
        height: 500px;
        width: 500px;
        object-fit:cover;
    }
    .videoByLocationFull{
        width:500px;
        height:500px
    }
    .videoByLocationThumbnail{
        width:100px;
        height:100px
    }
    .product-image-container{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .other-page-image{
        max-width: 100%;
        max-height: 100%;
        /*height: 100%;*/
    }
}