@media only screen and (max-width: 600px) {
    .article-image {
        height: 100px;
        width: 100px;
    }

    .display-2 {
        font-size: 2rem !important;
    }

    table {
        font-size: 12px;
    }

    .dataTables_wrapper {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .zabuto-calendar tbody td {
        padding: 0px !important;
    }

    .product-image-container {
        width: 225px;
        height: auto;
        object-fit: cover;
    }
    .product-image-container a:first-of-type img {
        margin-bottom: 20px; /* Margin for the first image */
    }
    .product-image-container a img {
        max-width: 100%;
        margin-bottom: 0;
        /*max-height: 100%;*/
        /* width: auto;*/
        /* height: auto;*/
    }
    .product-image-container{
        width: 100%;
    }
    .product-image-container .image-wrapper img{
        margin-bottom: 20px;
        width: 100%;
    }

    .image-wrapper{
        overflow: hidden;
    }
    /*.product-image-container img:nth-of-type(1) {*/
    /*    margin-bottom: 45px;*/
    /*}*/

    /*.product-image-container img:nth-of-type(n+2) {*/
    /*    margin-bottom: 0 !important;*/
    /*}*/
    .other-page-image {
        max-height: 300px;
        max-width: 300px;
    }

    .homepage-gallery-image-container {
        max-width: 100%;
        margin-bottom: 0;
    }

    .homepage-image {
        max-width: 100%;
        margin-bottom: 0;
    }

    .image-containerFull a img {
        width: 100%;
    }


}