@media only screen and (max-width: 600px) {
    .article-image{
        height: 100px;
        width: 100px;
    }
    .display-2{
        font-size: 2rem!important;
    }
    table{
        font-size: 12px;
    }
    .dataTables_wrapper{
        margin-top: 0px!important;
        margin-bottom: 0px!important;
    }
    .desktop{
       display: none;
    }
    .mobile{
        display: block;
    }
    .zabuto-calendar tbody td{
        padding:0px!important;
    }
}