@media only screen and (max-width: 600px) {
    .article-image{
        height: 100px;
        width: 100px;
    }
    .display-2{
        font-size: 2rem!important;
    }
    table{
        font-size: 12px;
    }
    .dataTables_wrapper{
        margin-top: 0px!important;
        margin-bottom: 0px!important;
    }
    .desktop{
       display: none;
    }
    .mobile{
        display: block;
    }
    .zabuto-calendar tbody td{
        padding:0px!important;
    }
    .product-image-container{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .product-image-container img {
       max-width: 100%;
       max-height: 100%;
        width: auto;
        height: auto;
    }
    .other-page-image{
        max-height:300px;
       max-width: 300px;
    }

}