{% extends 'base.html.twig' %}

{% block title %}New Interests{% endblock %}

{% block body %}
    <h1>Create new Interests</h1>

    {{ include('interests/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('interests_index') }}">Return to list</a>

{% endblock %}
