<div>

    <h1 style="color: red"> File(s) from stephen.nurse.com</h1>

    Please find attached the files from the stephen-nurse.com website <br>
    <li>
        <b>Description</b>: {{ description }}
    </li>

    <br>
    <hr>

    {{ include('emails/footerLoginAndEmail.html.twig') }}

</div>
