<div>
    <h2 style="color: red"> File(s) from stephen.nurse.com</h2>

    Please find attached the files from the stephen-nurse.com website <br>
    <li>
        <b>Description</b>: {{ description }}
    </li>

    <br>

</div>
