<div>
    <h3>Website: Your login and password details</h3>
    <li>
        The URL for the News Scrapper website is <a
                href="{{ absolute_url(path('app_home')) }}">{{ absolute_url(path('app_home')) }}</a>
    </li>
    <li>
        Your login is your email address.
    </li>
    <li>
        You can set a new password, or reset a forgotten password, from the login screen.
    </li>
    <br>
</div>
