<div>
    <h2 style="color: red"> Photo: From stephen.nurse.com</h2>

    Please find attached the photo from stephen-nurse.com website <br>
    <li>
        <b>Photo</b>: {{ description }}
    </li>

    <br>

</div>
