{% extends 'base.html.twig' %}

{% block title %}Home Address{% endblock %}

{% block body %}
    <h3 style="color: red">Address</h3>
    <b>Our home address is: </b>
    {{StaticText.content.address | raw}}

    <br>
    <br>
    Google Maps:  <a target="_blank" href="{{ StaticText.content.gpsCoordinates }}">Link</a>
    <br>
    <br>

    <b>Getting here:</b> <br>

    The nearest airport is Paphos (PAH)


{% endblock %}