{% extends 'base.html.twig' %}

{% block title %}Instructions: Tennis Players{% endblock %}

{% block body %}
    <h3>Instructions</h3>
    <li>
        Instructions
    </li>
    <br>
    <hr>
    <br>


{% endblock %}