{% extends 'base.html.twig' %}

{% block title %}Web design{% endblock %}

{% block body %}
    <h3 style="color: red">Web design</h3>
    {{staticText.webDesign | raw}}
    <ul>
       Developed several functional websites using PHP, SQL, NodeJS and Javascript.
    </ul>
    <ul>
        <b style="color: red"> Ducalian pubs </b>
    </ul>

    <ul>
        o The first <a target="_blank" href="https://london-pubs.atts-systems.com/">website</a> was used to improve investor
        participation in the management and future direction of certain London-pubs and Titan Storage Companies</h3>
    </ul>
    <ul>
        o The website was been organised by a core group of investors. Its objectives were: <br>
    </ul>
    <ul>
        o To identify and bring together the 272 individual shareholders, who had collectively invested over £25m,
        into a shareholder forum to discuss the
        performance of the current management.
    </ul>

    <ul>
        o Improve dissemination of relevant investor information, providing transparency to the financial
        performance of the pubs.
    </ul>

    <ul>
        o Ensure all investors receive the same information contemporaneously and in structured way.
    </ul>

    <ul>
        o Share analysis and views on the financial/business performance and any expertise around management and/or
        exit strategies.
    </ul>

    <ul>
        o Act as a forum to co-ordinate feedback to management to set the future strategy of the pub that is in the
        best interests of the owners of each company.
    </ul>
    <ul>
        o Ultimately the website was instrumental in calling an EGM where 97% of the shareholders, voted to remove
        James McCulloch and Henry Harris from the board, replaced by shareholder representatives.
    </ul>
    <ul>
        o An new operator, Frank Dowling, was also appointed to run the 5 pubs.
    </ul>
    <ul>
        o The pubs are:
        <a target="_blank" href="https://theharcourt.com/">The Harcourt</a>,
        <a target="_blank" href="https://threecranescity.co.uk/">The Three Cranes</a>,
        <a target="_blank" href="https://thecoachclerkenwell.co.uk/">Coach</a>,
        <a target="_blank" href="https://thecrownchiswick.co.uk/">The Crown</a>,
        <a target="_blank" href="https://theheromaidavale.co.uk/">Hero of Maida</a>,
        <a target="_blank" href="https://thekph.co.uk/">KPH</a>
    </ul>

    <hr>
    <ul>
        <b style="color: red">NewsScrapper </b>
    </ul>

    <ul>
        o The second <a target="_blank" href="https://newsscraper.atts-systems.com/">website</a> was designed to accelerate the production of the daily market update emails by
        streamlining the task of aggregating and reviewing market news from news-wires, and distilling the news into a
        market summary.
    </ul>
    <ul>
        o The website also imports and updates a calendar of important economic data, such as rate meetings, payrolls etc
        and details the Consensus and Actual data for each statistic.
    </ul>
    <ul>
        o The website also maintains a database of industry articles relevant to the Clearing and Prime businesses,
        including notes and summaries.
    </ul>
    <ul>
        o The website aggregates news articles by scraping a number of third-party websites and displays articles
        published in the past 24 hours. The author can select articles of note to include in the daily market updates.
    </ul>
    <ul>
        o The ‘news’ sources scraped include: FT, Reuters, Economist
    </ul>
    <ul>
        o The website stores the history of these articles which can be comprehensively searched as and when required.
    </ul>
    <ul>
        o Industry articles are stored in a repository, including articles from previous instances of these news websites
        that are no longer accessible.
    </ul>
    <ul>
        o Articles can be "favoured" and summaries of the article are saved in the website and emailed as required.
    </ul>
    <ul>
        o The industry pages will be a valuable history of industry topics for any new joiners to the relevant business.
    </ul>
     <ul>
        o For the source websites that require a login requirement (e.g. Risk, FT, The Economist), the user can input
        their login details in their profile, and this website will enable you to launch the full article, or import the full
        article contents as the starting point for the generation of a summary.
    </ul>

    <hr>
    <ul>
        <b style="color: red">AX Tools </b>
    </ul>

    <ul>
        o The third <a target="_blank" href="https://axtools.atts-systems.com/">website</a> was designed to help with <a target="_blank" href="https://alpinexpress.com/">Alpinexpress</a>
    </ul>
    <ul>
        o The website coordinates outsourcing efforts, payroll and the telecommunications
    </ul>
    <hr>





















{% endblock %}