{% extends 'base.html.twig' %}

{% block title %}New Facebook Group{% endblock %}

{% block body %}
    <h1 style="color: red">New Facebook Group</h1>

    {{ include('facebook_groups/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('facebook_groups_index') }}">Return to list</a>
{% endblock %}
