As Of Date: <a target="_blank"
               href="{{ path('settings_edit', {id:'1'}) }}">{{ settings.investmentDate|date('d-M-Y') }}</a>
<a class="btn btn-outline-info btn-sm" href="{{ path('app_home') }}">Today</a>
