<b>As Of Date:</b> {{ settings.investmentDate|date('d-M-Y') }}
<a target="_blank" href="{{ path('settings_edit', {id:'1'}) }}">
<i class="fa fa-calendar"></i>
</a>
<a class="btn btn-outline-info btn-sm" href="{{ path('asOfDate/set_to_today') }}">Today</a>
