<div class="row">
    <div class="col-3">
        <h2 style="color: blue">
            Bank Accounts
        </h2>
    </div>
    <div class="col-3">
        <a target="_blank" class="btn btn-outline-info btn-sm"
           href="{{ path('bank_accounts_index') }}">Bank Accounts</a>
    </div>
</div>