<div class="row">
    {% include '../investments_buttons.html.twig' %}
    <div class="col-2">
        <a class="btn btn-outline-primary btn-sm" href="{{ path('investments_economic_index', {'subset':'All'}) }}">All </a>
        <a class="btn btn-outline-primary btn-sm"
           href="{{ path('investments_economic_index', {'subset':'Active'}) }}">Active </a>
        <a class="btn btn-outline-primary btn-sm"
           href="{{ path('investments_economic_index', {'subset':'Sold'}) }}">Sold</a>
    </div>
</div>
<br>