<table class="table table-responsive grandTotal">
    <thead>
    <tr style="background-color: whitesmoke; border-bottom: 1px solid; border-top: 1px solid">
        <th style="border-left: 1px solid; border-top: 1px solid"></th>
        <th style="width: 70px; text-align: right; border-top: 1px solid">
            GBP
        </th>
        <th style="width: 70px; text-align: right; border-top: 1px solid">
            USD
        </th>
        <th style="width: 70px; text-align: right; border-top: 1px solid">
            EUR
        </th>
        <th style="width: 70px; text-align: right; border-top: 1px solid; border-right: 1px solid">
            CHF
        </th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td style="border-left: 1px solid">Bank Accounts</td>
        <td style="text-align: right" class="grandTotalBankBalanceGBP">
        </td>
        <td style="text-align: right" class="grandTotalBankBalanceUSD">

        </td>
        <td style="text-align: right" class="grandTotalBankBalanceEUR">

        </td>
        <td style="text-align: right; border-right: 1px solid" class="grandTotalBankBalanceCHF">

        </td>
    </tr>

    <tr>
        <td style="border-left: 1px solid">Loans/Bonds</td>
        <td style="text-align: right" class="grandTotalLoansBondsBalanceGBP">
        </td>
        <td style="text-align: right" class="grandTotalLoansBondsBalanceUSD">
        </td>
        <td style="text-align: right" class="grandTotalLoansBondsBalanceEUR">
        </td>
        <td style="text-align: right; border-right: 1px solid" class="grandTotalLoansBondsBalanceCHF">
        </td>
    </tr>
    <tr>
        <td style="border-left: 1px solid">Shares</td>
        <td style="text-align: right" class="grandTotalSharesBalanceGBP">
        </td>
        <td style="text-align: right" class="grandTotalSharesBalanceUSD">
        </td>
        <td style="text-align: right" class="grandTotalSharesBalanceEUR">
        </td>
        <td style="text-align: right; border-right: 1px solid" class="grandTotalSharesBalanceCHF">
        </td>
    </tr>
    <tr style="background-color: whitesmoke; font-weight: bold">
        <td style="border-left: 1px solid; color: lightgrey">z. Grand Total</td>
        <td style="text-align: right" class="grandTotalGBP">
        </td>
        <td style="text-align: right" class="grandTotalUSD">
        </td>
        <td style="text-align: right" class="grandTotalEUR">
                    </td>
        <td style="text-align: right" class="grandTotalCHF">
        </td>
    </tr>
    </tbody>
</table>

