
<thead>
<tr style="background-color: whitesmoke">
    <th style="border-left: 1px solid; border-top: 1px solid">Asset Class</th>
    <th style="width: 10px; border-top: 1px solid">Active/<br>Sold</th>
    <th style="width: 10px; border-top: 1px solid">Include in:<br>Tax Summary</th>
    <th style="width: 350px; border-top: 1px solid">Investment</th>
    <th style="text-align: left; border-top: 1px solid">Investment Date</th>
    <th style="width: 75px; text-align: right; border-top: 1px solid">
        Tax Schemes
        <a target="_blank" href="{{ path('tax_schemes_index') }}">
            <i class="fa f a-link"></i>
        </a>
    </th>
    <th style="text-align: right; border-top: 1px solid">Ccy</th>
    <th style="text-align: right;border-right:1px solid black; border-top: 1px solid">£ invested</th>
    <th style="text-align: right; width: 80px; border-top: 1px solid">Share Price (Purchase)</th>
    <th style="text-align: right; width: 80px; border-top: 1px solid">Share Price (Current/Sale*) (£)</th>
    <th style="text-align: right; border-top: 1px solid">MTM or<br>Gain/Loss<br>Crystallised(£)</th>
    <th style="text-align: right; border-right: 1px solid; border-top: 1px solid">PV (Local)</th>
    <th style="text-align: right; border-top: 1px solid">PV (GBP)</th>
    <th style="text-align: right; border-top: 1px solid">PV (USD)</th>
    <th style="text-align: right; border-top: 1px solid">PV (EUR)</th>
    <th style="text-align: right; border-top: 1px solid">PV (CHF)</th>
    <th style="border-left: 1px solid; border-top: 1px solid">Sale</th>
    <th style="border-right: 1px solid; border-top: 1px solid">CGT</th>
</tr>
</thead>
