
<thead>
<tr style="background-color: whitesmoke">
    <th>Asset Class</th>
    <th style="width: 10px">Active/<br>Sold</th>
    <th style="width: 10px">Include in:<br>Tax Summary</th>
    <th style="width: 350px">Investment</th>
    <th style="text-align: left">Investment Date</th>
    <th style="width: 75px; text-align: right">
        Tax Schemes
        <a target="_blank" href="{{ path('tax_schemes_index') }}">
            <i class="fa f a-link"></i>
        </a>
    </th>
    <th style="text-align: right">Ccy</th>
    <th style="text-align: right;border-right:1px solid black">£ invested</th>
    <th style="text-align: right; width: 80px">Share Price (Purchase)</th>
    <th style="text-align: right; width: 80px">Share Price (Current/Sale*) (£)</th>
    <th style="text-align: right">MTM or<br>Gain/Loss<br>Crystallised(£)</th>
    <th style="text-align: right; border-right: 1px solid">PV (Local)</th>
    <th style="text-align: right">PV (GBP)</th>
    <th style="text-align: right">PV (USD)</th>
    <th style="text-align: right">PV (EUR)</th>
    <th style="text-align: right">PV (CHF)</th>
    <th style="border-left: 1px solid">Sale</th>
    <th style="border-right: 1px solid">CGT</th>
</tr>
</thead>
