
<tr style="background-color: whitesmoke">
    <td>Asset Class</td>
    <td style="width: 10px">Active/<br>Sold</td>
    <td style="width: 10px">Include in:<br>Tax Summary</td>
    <td style="width: 350px">Investment</td>
    <td style="text-align: left">Investment Date</td>
    <td style="width: 75px; text-align: right"></td>
    <td style="text-align: right">Ccy</td>
    <td style="text-align: right;border-right:1px solid black">£ invested</td>
    <td style="text-align: right; width: 80px">Share Price (Purchase)</td>
    <td style="text-align: right; width: 80px">Share Price (Current/Sale*) (£)</td>
    <td style="text-align: right">MTM or<br>Gain/Loss<br>Crystallised(£)</td>
    <td style="text-align: right; border-right: 1px dotted">PV (Local)</td>
    <td style="text-align: right;border-right:1px solid black">PV (GBP)</td>
    <td style="text-align: right;border-right:1px solid black">PV (USD)</td>
    <td style="text-align: right;border-right:1px solid black">PV (EUR)</td>
    <td style="text-align: right;border-right:1px solid black">PV (CHF)</td>
    <td>Sale</td>
    <td
</tr>


