{% extends 'base.html.twig' %}

{% block title %}Edit Default Tennis Player Availability Hours{% endblock %}

{% block body %}
    <h1 style="color: red">Edit Default Tennis Player Availability Hours</h1>

    {{ include('default_tennis_player_availability_hours/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('default_tennis_player_availability_hours_index') }}">Return to list</a>

    {{ include('default_tennis_player_availability_hours/_delete_form.html.twig') }}
{% endblock %}

{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
