{% extends 'base.html.twig' %}

{% block title %}New Default Tennis Player Availability Hours{% endblock %}

{% block body %}
    <h1 style="color: red">New Default Tennis Player Availability Hours</h1>

    {{ include('default_tennis_player_availability_hours/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('default_tennis_player_availability_hours_index') }}">Return to list</a>
{% endblock %}
