{% extends 'base.html.twig' %}

{% block title %}New Instructions{% endblock %}

{% block body %}
    <h1 style="color: red">New Instructions</h1>

    {{ include('instructions/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('instructions_index') }}">Return to list</a>
{% endblock %}

{% block additionaljs %}
    <script>
        ClassicEditor
            .create(document.querySelector('#instructions_summary'))
            .catch(error => {
                console.error(error);
            });
    </script>
{% endblock %}