{% extends 'base.html.twig' %}

{% block title %}New: Days in UK{% endblock %}

{% block body %}
    <h1 style="color: red">Days in UK</h1>

    {{ include('uk_days/_form.html.twig') }}

    <a class="btn btn-outline-info btn-sm " href="{{ path('uk_days_index') }}">Return to list</a>
{% endblock %}
