{% extends 'base.html.twig' %}

{% block title %}Dog Skills/Behaviours{% endblock %}

{% block body %}
    <h1 style="color: red">Dog Skills/Behaviours</h1>

    <a class="btn btn-success btn-sm" href="{{ path('dog_skills_new') }}">New</a>
    <hr>

    <div class="row">
        <div class="col-6">
            <h2>Skill</h2>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Rank xx</th>
                    <th>Skill/<br>Behaviour</th>
                    <th>Description</th>
                    <th style="width: 250px">Notes</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                {% for dog_skill in dog_skills %}
                    {% if dog_skill.skillOrBehaviour =='Skill' %}
                        {% include 'dog_skills/parts/dog_skill_or_behaviour_table.html.twig' %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-6">
            <h2>Behaviour</h2>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Rank xx</th>
                    <th>Skill/<br>Behaviour</th>
                    <th>Description</th>
                    <th style="width: 250px">Notes</th>
                    <th>#</th>
                    <th>#</th>
                </tr>
                </thead>
                <tbody>
                {% for dog_skill in dog_skills %}
                    {% if dog_skill.skillOrBehaviour =='Behaviour' %}
                        {% include 'dog_skills/parts/dog_skill_or_behaviour_table.html.twig' %}
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}



{% block datatable %}
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                'pageLength': 100,
                "order": [[1, 'asc'], [0, 'asc']],
                "paging": false,
                "searching": false,
                "bInfo": false
            });
        });
    </script>
{% endblock datatable %}
