{% extends 'base.html.twig' %}

{% block title %}New Dog Skills{% endblock %}

{% block body %}
    <h1 style="color: red">New DogSkills</h1>

    {{ include('dog_skills/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('dog_skills_index') }}">Return to list</a>
{% endblock %}
