{% extends '../../base.html.twig' %}

{% block title %}New TaxSupportingDocs{% endblock %}

{% block body %}
    <h1 style="color: red">New Tax Supporting Docs</h1>

    {{ include('tax_supporting_docs/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tax_supporting_docs_index') }}">Return to list</a>
{% endblock %}
