{% extends 'base.html.twig' %}

{% block title %}New Airports{% endblock %}

{% block body %}
    <h1 style="color: red">New Airports</h1>

    {{ include('airports/_form.html.twig') }}
    <a class="btn btn-outline-primary btn-sm" href="{{ path('airports_index') }}">Return to list</a>

{% endblock %}
