{% extends '../../base.html.twig' %}

{% block title %}New: Garmin File{% endblock %}

{% block body %}
    <h1 style="color: red;">New Garmin File</h1>

    {{ include('garmin_files/_form.html.twig') }}

    <a class="btn btn-outline-info btn-sm" href="{{ path('garmin_files_index') }}">Return to list</a>
{% endblock %}
