{% extends '../../base.html.twig' %}

{% block title %}Photo{% endblock %}

{% block body %}
    <div class="d-flex m-auto justify-content-center">
        <img class="rounded rounded-circle" src="{{ asset('administration/img/winelist/') }}{{ imagename }}" style="height: 900px;width:900px" >
    </div>
{% endblock %}