{% extends '../../base.html.twig' %}

{% block title %}New Wine List{% endblock %}

{% block body %}
    <h1 style="color: red">New Wine</h1>

    {{ include('wine_list/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('wine_list_index') }}">Return to list</a>
{% endblock %}
