{% extends 'base.html.twig' %}

{% block title %}Tennis Court Preference{% endblock %}

{% block body %}
    <h1 style="color: red">Tennis Court Preference</h1>

    {{ include('tennis_court_preferences/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm mt-2" href="{{ path('tennis_court_preferences_index') }}">Return to list</a>
{% endblock %}
