{% extends '../../base.html.twig' %}

{% block title %}Edit: House Guests{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: House Guests</h1>

    {{ include('house_guests/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-info btn-sm" href="{{ path('house_guests_index') }}">Return to list</a>

    {{ include('house_guests/_delete_form.html.twig') }}
{% endblock %}
{% block additionaljs %}
    <script>
        ClassicEditor
            .create(document.querySelector('#house_guests_notes'))
            .catch(error => {
                console.error(error);
            });
    </script>
    <script>
        {% if is_granted('ROLE_ADMIN') %}
        $(".reference").show();
        {% else %}
        $(".reference").hide();
        $("#house_guests_guestName option[value='']").remove();
        {% endif %}
        var reference = $("#house_guests_referenceInformation :selected").val();
        if (reference !== 'Guest Booking') {
            $("#house_guests_guestName option[value='']").prop('selected',true);
        }
        $("#house_guests_referenceInformation").change(function(){
            var reference = $("#house_guests_referenceInformation :selected").val();
            if (reference !== 'Guest Booking') {
                $("#house_guests_guestName option[value='']").prop('selected',true);
            }
        })
    </script>
{% endblock %}
