<table class="table table-responsive latestFXRates">

    <thead>
    <tr style="background-color: whitesmoke">
        <th style="width: 150px; border-top: 1px solid; border-left: 1px solid"></th>
        <th style="width: 70px; text-align: right; border-top: 1px solid">GBP</th>
        <th style="width: 70px; text-align: right; border-top: 1px solid">USD</th>
        <th style="width: 70px; text-align: right; border-top: 1px solid">EUR</th>
        <th style="width: 70px; text-align: right; border-top: 1px solid; border-right: 1px solid ">CHF</th>
    </tr>
    </thead>
    <tbody>

    <tr>
        <td style="border-left: 1px solid; border-bottom: 1px solid">
            {{ AsOfDate|date('d-M-y') }}
        </td>
        <td style="text-align: right; border-bottom: 1px solid">
            {{ FXRatesOnAsOfDate.findFXRates(AsOfDate, 'GBP') |number_format(4, '.', ',')}}
        </td>
        <td style="text-align: right; border-bottom: 1px solid">
            1.0000
        </td>
        <td style="text-align: right; border-bottom: 1px solid">
            {{ FXRatesOnAsOfDate.findFXRates(AsOfDate, 'EUR') |number_format(4, '.', ',')}}
        </td>
        <td style="text-align: right; border-bottom: 1px solid; border-right: 1px solid">
            {{ FXRatesOnAsOfDate.findFXRates(AsOfDate, 'CHF') |number_format(4, '.', ',')}}
        </td>
    </tr>
    </tbody>
</table>

