{% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <div class="col-1">
            <a class="btn btn-success btn-sm" href="{{ path('referrals_new') }}">New</a>
        </div>
        <div class="col-5">
            <a class="btn btn-outline-primary btn-sm" target="_blank" href="{{ path('business_contacts_index') }}">
                Business Contacts</a>
        </div>
        <div class="col-2">
            <a class="btn btn-outline-danger btn-sm" href="{{ path('referrals_delete_all') }}">Delete All</a>
        </div>
        <br>
    </div>
{% endif %}
