{{ form_start(form) }}
    {{ form_widget(form) }}

<button id="save" class="btn btn-primary btn-sm">{{ button_label|default('Save (no welcome email)') }}</button>
<button id="sendEmail" class="btn-success btn-sm">Save & send welcome e-mail</button>
{{ form_end(form) }}
