{% extends 'base.html.twig' %}

{% block title %}Edit: {{ user.fullname }}{% endblock %}

{% block body %}
    <h1 style="color: red"><span class="text-danger">User</span></h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-success mt-1 mb-1" href="{{ path('user_index') }}">Return to list</a>

   {{ include('user/_delete_form.html.twig') }}
{% endblock %}
