{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1 style="color: red">New Client</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('user_index',{status:'All'}) }}">Return to list</a>
{% endblock %}
{% block additionaljs %}
    <script>
    $("#user_roles").val(["ROLE_CLIENT"]);
    </script>
{% endblock %}