{% extends '../../base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1 style="color: red">New User</h1>

    {{ include('user/_form.html.twig') }}
<br>
<br>
    <a class="btn btn-outline-primary btn-sm" href="{{ path('user_index') }}">Don't save & Return to list</a>


{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $('#sendEmail').click(function (e) {
            e.preventDefault();
            $('#user_sendEmail').val(1).change();/*
            e.unbind();*/
            $('#save').trigger('click');
        });

        var email1 = $('#user_email').val();
        if(email1 != '') {
            $('#user_calendarInviteEmail option:eq(0)').text(email1);
        }
       $('#user_email').change(function () {
           var email1 = $('#user_email').val();
           $('#user_calendarInviteEmail option:eq(0)').text(email1);
       });

        var email2 = $('#user_email2').val();
        if(email2 != '') {
            $('#user_calendarInviteEmail ').append($('<option>', {
                value: email2,
                text: email2
            }));;
        }
        $('#user_email2').change(function () {
            var email2 = $('#user_email2').val();
            $('#user_calendarInviteEmail ').append($('<option>', {
                value: email2,
                text: email2
            }));;
        });




    </script>
{% endblock javascripts %}
