{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>New User</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-outline-primary" href="{{ path('user_index') }}">Return to list</a>
{% endblock %}
