{% extends '../../base.html.twig' %}

{% block title %}Edit Recruiter Emails{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: RecruiterEmails</h1>

    {{ include('recruiter_emails/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('recruiter_emails_index') }}">Return to list</a>

    {{ include('recruiter_emails/_delete_form.html.twig') }}
{% endblock %}
