{% extends 'base.html.twig' %}

{% block title %}New RecruiterEmails{% endblock %}

{% block body %}
    <h1 style="color: red;">New Recruiter Emails</h1>

    {{ include('recruiter_emails/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('recruiter_emails_index') }}">Return to list</a>
{% endblock %}
