{% extends 'base.html.twig' %}

{% block title %}Edit: Weather{% endblock %}

{% block body %}
    <h1 style="color: red">Edit: Weather</h1>

    {{ include('weather/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-outline-primary" href="{{ path('weather_index') }}">Return to list</a>

    {{ include('weather/_delete_form.html.twig') }}
{% endblock %}
