{% extends 'base.html.twig' %}

{% block title %}New Client Details{% endblock %}

{% block body %}
    <h1 style="color: red">New Client Details</h1>

    {{ include('client_details/_form.html.twig') }}

    <a class="btn btn-outline-primary btn-sm" href="{{ path('client_details_index') }}">Return to list</a>
{% endblock %}
